* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

/*.................Chosen variable color for background-color*/
:root{
    --hue-neutral: 213;
}

/*.......................................................body styling*/
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 31%, 19%);
} 

/*............................................Container size and dimensions*/
#container-username {
    width: 800px;
    max-width: 80%;
    background-color: #63768d;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/*.................................................Center container*/
#container-title {
    text-align: center;
}

/*#username {
    text-align: center;
}

.center-me {
    text-align: center;
}*/
